<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
    <a class="copyrights" href="http://www.beian.miit.gov.cn/">
        浙ICP备18012561号
    </a>
</footer>
